@import "../utils/variables";
@import "../utils/mixins";
@import "../../libs/include-media/dist/include-media";

html {
  font-size: 62.5%;

  // Блокировать скролла
  &.css-scroll-fixed:not(.open-only-mob) {
    @include scroll-blocked;
}

  // Не блокировать скролл, если есть класс open-only-mob
  &.css-scroll-fixed.open-only-mob {
    @include media("<tab") {
      @include scroll-blocked;
  }
}
}

body {
  min-width: $layout-page-min-width;

  @include font-normal;
  @include font-size($font-size, $line-height);

  color: $text-color;
  background: $bg-color url(../../img/empty.png) no-repeat left top fixed;
}

// Отступы по бокам страницы
// Отступы по бокам основных элементов на странице
@if nth($layout-page-space, 2) != 0 {
  .layout-page-spaces {
    @include padding-horizontal(nth($layout-page-space, 2));
}
}

// Выравнивание сайта и его максимальная ширина
// Выравнивание основных элементов и их максимальная ширина
.layout-page {
  max-width: $layout-page-max-width;
  box-sizing: content-box;

  @include push-auto;
}

// Отступы по бокам текстовых элементов
@if nth($layout-text-space, 2) != 0 {
  .layout-text-spaces {
    @include padding-horizontal(nth($layout-text-space, 2));
}
}

// Выравнивание текстовых элементов и их максимальная ширина
.layout-text {
  max-width: $layout-text-width;
  box-sizing: content-box;

  @include push-auto;
}

// Выравнивание элементов выходящих за пределы текста
.layout-flood {
  max-width: $layout-text-width;
  box-sizing: content-box;

  @include push-auto;
}

// Прижать футер к низу страницы
// На html, body необходимо задать высоту 100% (Задано в reset.sass)
body {
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
}

.main {
  flex-shrink: 0;
}

.footer {
  flex-shrink: 0;
  margin-top: auto;
}