@import "../utils/variables";
@import "../utils/mixins";
@import "../../libs/include-media/dist/include-media";

// Выделение текста
body {
  *::selection {
    background-color: $base-color;
    color: lighten(invert($base-color), 30%);
  }
}

// Заголовки
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 $bottom-space;
  padding: 0;

  @include font-bold;

  color: $title-color;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $link-color;
      text-decoration: underline;
    }
  }
}

h1, .h1 {
  font-weight: normal;

  @include font-h1;
}

h2, .h2 {
  @include font-h2;
}

h3, .h3 {
  @include font-h3;
}

h4, .h4 {
  @include font-size($font-size-h4, $line-height-h4);
}

h5, .h5 {
  @include font-size($font-size-h5, $line-height-h5);
}

h6, .h6 {
  @include font-size($font-size-h6, $line-height-h6);

  text-transform: uppercase;
}

p {
  padding: 0;
  margin: 0 0 $bottom-space;

  &:last-child {
    margin-bottom: 0;
  }
}

hr {
  line-height: 1px;
  height: 0;
  border: none;
  background: none;
  border-bottom: 1px solid $border-color;
  margin-bottom: $bottom-space;
}

a {
  color: $link-color;
  text-decoration: underline;
  cursor: default;
  -webkit-tap-highlight-color: transparent;

  &:link {
    cursor: pointer;
  }

  &:hover {
    text-decoration: none;
  }

  &[href^="javascript:"] {
    cursor: default;
    pointer-events: none;
  }
}

img {
  border: none;
  vertical-align: top;
  max-width: 100%;

  table & {
    max-width: none;
  }
}

b,
strong,
th {
  @include font-bold;
}

i,
em {
  @include font-italic;
}

i b,
i strong,
em b,
em strong,
b i,
b em,
strong i,
strong em {
  @include font-bold-italic;
}

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  margin-bottom: $bottom-space;

  &:last-child {
    margin-bottom: 0;
  }

  td, th {
    @include font-size($font-size, $line-height);

    color: inherit;
    padding: 8px 15px;
    border-color: $text-color;
  }
}

.table-auto {
  position: relative;
  overflow: auto;
  max-width: 100%;
  -webkit-overflow-scrolling: touch;
  margin-bottom: $bottom-space;

  &:last-child {
    margin-bottom: 0;
  }

  table {
    margin-bottom: 0;
    width: auto;
    min-width: 100%;
  }
}

.tbl {
  border: none;

  td, th {
    color: $text-color;
    background-color: $bg-color;
    border: 0 solid $base-color;

    @include font-size(1.4rem, 1.5);

    &:first-child, &:first-child {
      border-left-width: 1px;
    }

    &:last-child, &:last-child {
      border-right-width: 1px;
    }
  }

  tr:last-child {
    td {
      border-bottom-width: 0;
    }
  }

  td {
    border-top-width: 1px;
  }

  tbody tr:first-child td {
    border-top-width: 0;
  }

  tbody tr:nth-child(even) td {
    background: $base-color;
    color: $bg-color;
  }

  th, thead td {
    @include font-bold;

    font-size: 1.6rem;
    text-align: left;
  }

  th, thead td, tfoot td {
    background: $base-color;
    color: $bg-color;
    border-color: $base-color;
    border-top-width: 0;
  }
}

/* table end */

/* columnize */
.columnize, .columnize--3, .columnize--4 {
  column-count: 2;
  column-gap: 2em;
  margin-bottom: $bottom-space;
  font-size: 0.9em;
}

.columnize--3 {
  column-count: 3;
  font-size: 0.85em;
}

.columnize--4 {
  column-count: 4;
  font-size: 0.8em;

  @include media("<net") {
    column-count: 3;
  }
}

.columnize--3, .columnize--4 {
  @include media("<tab") {
    column-count: 2;
  }
}

.columnize, .columnize--3, .columnize--4 {
  @include media("<tab-s") {
    column-count: 1;
  }
}

/* columnize end */

/* columns */
$columns-gap: 2em;

.columns {
  @include clear;
}

.column {
  float: left;
  width: calc(50% - #{round($columns-gap / 2)});
  margin: 0 round($columns-gap / 2);

  @include media("<mob") {
    float: none;
    width: auto;
    margin: 0 0 5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }


  &:nth-child(odd) {
    margin-left: 0;
  }

  &:nth-child(even) {
    margin-right: 0;
  }
}

/* columns end */

/* typography elements */
.#{$typography-style-class} {
  @each $tags in h2, h3, h4, h5, h6, ".h2", ".h3", ".h4", ".h5", ".h6" {
    p + #{$tags},
    ul + #{$tags},
    ol + #{$tags},
    hr + #{$tags},
    table + #{$tags},
    .table-auto + #{$tags} {
      margin-top: 6.2rem;
    }
  }

  // figure
  figure {
    display: block;
    padding: 0;
    margin: 5.3rem 0 5rem;

    img {
      display: block;
      max-width: 100%;
      margin-bottom: 1.7rem;
    }
  }

  figcaption {
    display: block;
    padding: 0;
    margin: 0;
    color: $text-color-light;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  // blockquote
  blockquote {
    display: block;
    margin: 0 0 $bottom-space;
    padding: 0;

    q {
      display: block;
      margin: 0;
      padding: 0 0 10px;
      @include font-normal;
      font-size: round-float($font-size * 1.25, 1);
      line-height: round-float($line-height * 1.2, 1);
      color: $text-color;
      text-align: center;

      &::before, &::after {
        content: "";
        display: block;
        position: relative;
        font-size: 3em;
        line-height: 1;
        text-align: left;
      }

      &::before {
        content: "«";
        padding-left: 17%;
        padding-bottom: 10px;
      }

      &::after {
        content: "»";
        text-align: right;
        padding-right: 18.5%;
        padding-top: 8px;
      }
    }

    cite {
      text-align: center;
      display: block;
      font-size: inherit;
      line-height: inherit;
    }
  }

  // list
  $list-space: 3rem;

  ul, ol {
    margin: 0 0 $bottom-space;
    padding: 0;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }

    li {
      padding-left: $list-space;
      margin: 0 0 round($bottom-space * 0.5);
      position: relative;
    }
  }

  ul {
    & > li {
      &::before {
        content: "";
        display: block;
        float: left;

        @include size(0);

        margin: 0.4em 0 -0.5em -#{$list-space};
        border: solid transparent {
          width: 5px 0 5px 9px;
          left-color: $base-color;
        };
      }
    }
  }

  ol {
    counter-reset: section;

    & > li {
      counter-increment: section;
      height: 1%;
      overflow: hidden;

      &::before {
        position: relative;
        display: inline-block;
        text-align: left;

        @include font-alt-bold;

        color: $base-color;
        content: counter(section);
        padding: 0 4px 0 0;
        min-width: $list-space;
        margin-left: -#{$list-space};
      }
    }
  }

  ul, ol {
    ul, ol {
      margin: round-float($bottom-space * 0.5, 1) 0;
    }
  }

  & > img,
  & > .layout-text img,
  & > .layout-flood img {
    display: block;
    text-align: center;
    margin: 3rem auto 4rem;

    @include media("<tab") {
      margin-top: 2.5rem;
      margin-bottom: 3rem;
    }

    @include media("<mob") {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
    }

    &[align="left"], &.imgl {
      float: left;
      text-align: left;
      max-width: 45%;
      margin-top: 0;
      margin-right: 3rem;

      @include media("<tab") {
        margin-right: 2rem;
      }

      @include media("<mob") {
        float: none;
        text-align: left;
        max-width: none;
        margin-right: auto;
      }
    }

    &[align="right"], &.imgr {
      float: right;
      text-align: right;
      max-width: 45%;
      margin-top: 0;
      margin-left: 3rem;

      @include media("<tab") {
        margin-left: 2rem;
      }

      @include media("<mob") {
        float: none;
        text-align: left;
        max-width: none;
        margin-left: auto;
      }
    }
  }
}

/* typography elements end */

/* article content */
.#{$article-content} {
  & > p, & > ul, & > ol,
  & > h2, & > h3, & > h4, & > h5, & > h6,
  & > .h2, & > .h3, & > .h4, & > .h5, & > .h6,
  & > hr, & > mark, & > blockquote, & > figure,
  & > h1, & > .h1, .entry-text,
  & > .layout-text {
    max-width: $layout-text-width;

    @include push-auto;
  }

  & > .layout-flood {
    max-width: $layout-text-width;

    @include push-auto;
  }
}

/* article content end */