@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";

@import "../libs/mathsass/dist/math";
@import "../libs/mathsass/dist/functions/tan";

.mx-test .content {
  margin: 0 0 0 300px;

  @include padding-vertical(nth($layout-text-space, 1));
}

.mx-test .sidebar {
  width: 260px;
}

.mx-test .layout-text {
  @include padding-horizontal(nth($layout-text-space, 2));
}

.mx-test .section {
  margin-bottom: $bottom-space * 3;
}

.mx-test .section__box {
  margin-bottom: $bottom-space * 2;
}

.mx-subtitle {
  @include font-bold;

  margin-bottom: $bottom-space--small;
  background-color: white;

  .mx-element & {
    padding: $bottom-space--small;
  }
}

.mx-element {
  background-color: darkolivegreen;
}

.mx-inner {
  background-color: darkslategray;
}

.mx-test .mx-object-fit-cover {
  @include ratio(16, 9, true);

  position: relative;
  width: 320px;

  img {
    @include object-fit-position($pos: absolute);
  }
}

.mx-test .mx-object-fit-contain {
  @include ratio(16, 9, true);

  position: relative;
  width: 320px;

  img {
    @include object-fit-position(contain, absolute);
  }
}

.mx-margin {
  width: 320px;
  overflow: hidden;
}

.mx-margin__inner {
  @include size(auto, 100px);
  @include margin(10px, 20px, 30px, 40px);

  &::before {
    @include pseudo($content: "margin(10px, 20px, 30px, 40px)", $pos: relative);

    padding: 5px;
    text-align: center;
  }
}

.mx-push-auto {
  padding: 10px;
}

.mx-push-auto__inner {
  @include size(320px, 50px);
  @include push-auto;
}

// triangle
.mx-triangle {
  @include size(320px, 200px);

  padding: 10px;
  text-align: center;
  cursor: default;
}

.mx-triangle__inner {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  max-width: 90%;

  @include size(200px, 50px);

  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.4));

  &::before {
    @include pseudo;
  }

  &.mx--to-north::before {
    @include triangle(top, $size: 10px);
  }

  &.mx--to-east::before {
    @include triangle(right, $size: 10px);
  }

  &.mx--to-south::before {
    @include triangle(bottom, $size: 10px);
  }

  &.mx--to-west::before {
    @include triangle(left, $size: 10px);
  }
}

.mx-triangle-pretty {
  @include size(320px, 200px);

  padding: 10px;
  text-align: center;
  cursor: default;
}

.mx-triangle-pretty__inner {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  max-width: 90%;

  @include size(200px, 50px);

  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.4));

  &.mx--to-north {
    @include triangle-pretty(top, (left: 50%, bottom: 100%), darkolivegreen, 30px, 30px, darkslategray, 3px);
  }

  &.mx--to-east {
    @include triangle-pretty(right, (top: 50%, left: 100%), darkolivegreen, 30px, 30px, darkslategray, 3px);
  }

  &.mx--to-south {
    @include triangle-pretty(bottom, (right: 50%, top: 100%), darkolivegreen, 30px, 30px, darkslategray, 3px);
  }

  &.mx--to-west {
    @include triangle-pretty(left, (top: 50%, right: 100%), darkolivegreen, 30px, 30px, darkslategray, 3px);
  }

  &.mx--to-north {
    @include triangle-pretty(bottom, (left: 50%, top: 0), darkslategray, 30px, 30px, darkolivegreen, 3px);
  }
}

.mx-mathsass {
  @include size(320px, 200px);

  padding: 10px;
  text-align: center;
  cursor: default;
}

.mx-mathsass__inner {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;

  @include size(240px, 50px);

  transform: rotate(rad-to-deg(atan(1)));
}

.mx-font {
  padding: 1em;
  background-color: white;

  .mx-font--01 {
    @include font-size(1.4rem, 1.5);
  }

  .mx-font--02 {
    @include font-size(1.7rem, 1.8);
  }

  .mx-font--03 {
    @include font-size(2.1rem, 1.2);
  }
}