@import "functions";
@import "placeholders";

// ==========================================================================
// Variables
// ==========================================================================

// medium query
// medium query
$breakpoints: (
    "desk-l": 2560px,
    "desk": 1920px,
    "desk-s": 1600px,
    "lap-l": 1440px,
    "lap": 1366px,
    "lap-s": 1280px,
    "net": 1200px,
    "tab": 992px,
    "tab-s": 768px,
    "mob": 640px,
    "mob-s": 480px,
    "mob-xs": 375px,
    "mob-xxs": 360px
);


// Fonts style
// ==========================================================================
$font-norm: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-alt: Georgia, serif !default;

// Main font
@mixin font-normal {
  font-family: $font-norm;
}

@mixin font-bold {
  font-weight: bold;
}

@mixin font-italic {
  font-style: italic;
}

@mixin font-bold-italic {
  font-weight: bold;
  font-style: italic;
}

// Alternative font
@mixin font-alt {
  font-family: $font-alt;
}

@mixin font-alt-bold {
  font-family: $font-alt;
  font-weight: bold;
}

@mixin font-alt-bold-italic {
  font-family: $font-alt;
  font-weight: bold;
  font-style: italic;
}

// Base
// ==========================================================================

$font-size: 1.6rem !default;
$line-height: 2.4rem !default;
$letter-spacing: normal !default;

// ----------------------------------------------------
$font-size--mob: 1.4rem !default;
$line-height--mob: 2.0rem !default;

// Heading h1
$font-size-h1: 4.2rem !default;
$line-height-h1: 5.2rem !default;
$line-height-h1-kef: $line-height-h1 / $font-size-h1;

// ----------------------------------------------------
$font-size-h1--tab: 3.4rem !default;
$line-height-h1--tab: round-float($font-size-h1--tab * $line-height-h1-kef, 1) !default; // Использовать рассчетное значение, если нет в дизайне

// ----------------------------------------------------
$font-size-h1--mob: 3.0rem !default;
$line-height-h1--mob: round-float($font-size-h1--mob * $line-height-h1-kef, 1) !default; // Использовать рассчетное значение, если нет в дизайне

// ----------------------------------------------------
@mixin font-h1() {
  font-size: $font-size-h1;
  line-height: $line-height-h1;

  @include media("<tab") {
    font-size: $font-size-h1--tab;
    line-height: $line-height-h1--tab;
  }

  @include media("<mob") {
    font-size: $font-size-h1--mob;
    line-height: $line-height-h1--mob;
  }
}

// Heading h2
$font-size-h2: 3.0rem !default;
$line-height-h2: 4.2rem !default;
$line-height-h2-kef: $line-height-h2 / $font-size-h2;

// ----------------------------------------------------
$font-size-h2--tab: 2.8rem !default;
$line-height-h2--tab: round-float($font-size-h2--tab * $line-height-h2-kef, 1) !default; // Использовать рассчетное значение, если нет в дизайне

// ----------------------------------------------------
$font-size-h2--mob: 2.4rem !default;
$line-height-h2--mob: round-float($font-size-h2--mob * $line-height-h2-kef, 1) !default; // Использовать рассчетное значение, если нет в дизайне

// ----------------------------------------------------
@mixin font-h2() {
  font-size: $font-size-h2;
  line-height: $line-height-h2;

  @include media("<tab") {
    font-size: $font-size-h2--tab;
    line-height: $line-height-h2--tab;
  }

  @include media("<mob") {
    font-size: $font-size-h2--mob;
    line-height: $line-height-h2--mob;
    letter-spacing: 0.01em;
  }
}

// Heading h3
$font-size-h3: 2.4rem !default;
$line-height-h3: 3.0rem !default;
$line-height-h3-kef: $line-height-h3 / $font-size-h3;

// ----------------------------------------------------
$font-size-h3--tab: 2.2rem !default;
$line-height-h3--tab: round-float($font-size-h3--tab * $line-height-h3-kef, 1) !default; // Использовать рассчетное значение, если нет в дизайне

// ----------------------------------------------------
$font-size-h3--mob: 1.8rem !default;
$line-height-h3--mob: round-float($font-size-h3--mob * $line-height-h3-kef, 1) !default; // Использовать рассчетное значение, если нет в дизайне

// ----------------------------------------------------
@mixin font-h3() {
  font-size: $font-size-h3;
  line-height: $line-height-h3;

  @include media("<tab") {
    font-size: $font-size-h3--tab;
    line-height: $line-height-h3--tab;
  }

  @include media("<mob") {
    font-size: $font-size-h3--mob;
    line-height: $line-height-h3--mob;
    letter-spacing: 0.02em;
  }
}

// Heading h4
$font-size-h4: $font-size !default;
$line-height-h4: $line-height !default;

// ----------------------------------------------------
$font-size-h4--mob: $font-size--mob !default;
$line-height-h4--mob: $line-height--mob !default;

@mixin font-h4() {
  font-size: $font-size-h4;
  line-height: $line-height-h4;

  @include media("<mob") {
    font-size: $font-size-h4--mob;
    line-height: $line-height-h4--mob;
  }
}

// Heading h5
$font-size-h5: $font-size !default;
$line-height-h5: $line-height !default;

// Heading h6
$font-size-h6: $font-size !default;
$line-height-h6: $line-height !default;

// Spaces
$bottom-space: $line-height !default;
$bottom-space--mob: $line-height--mob !default;
$bottom-section: round-float($line-height * 1.5, 1) !default;
$bottom-section--mob: round-float($line-height--mob * 1.5, 1) !default;


// Colors
// ==========================================================================

// Color of brands
$base-color: #ee6e73 !default;
$base-color-alt: invert($base-color) !default;

// ----------------------------------------------------
$bg-color: #fff !default;
$bg-color-alt: #f3f3f3 !default;

// ----------------------------------------------------
$text-color: #262626 !default;
$text-color-muted: #6c757d !default;
$text-color-light: #ccc !default;

// ----------------------------------------------------
$title-color: #ee6e73 !default;

// ----------------------------------------------------
$link-color: #007bff !default;
$focus-color: #0080ff !default;

// ----------------------------------------------------
$border-color: lightgray !default;

// ----------------------------------------------------
$mark-color: #fd0cff !default;

// ----------------------------------------------------
$success-color: #28a745 !default;
$error-color: #dc3545 !default;
$info-color: #17a2b8 !default;
$warning-color: #ffc107 !default;
$light-color: #f8f9fa !default;
$dark-color: #343a40 !default;


// Classes for article page / article content / typography
// ==========================================================================
// @example Sass - Использование
// .#{$article-content}
//
// @example css - Вывод CSS
// .article-content
$article-content: article-content !default;
$typography-style-class: typography !default;


// Layout
// ==========================================================================

// Минимальная ширина сайта
$layout-page-min-width: 32rem !default;
// Максимальная ширина сайта
$layout-page-max-width: 192rem !default;
// Отступы для всего сайта
$layout-page-space: 3rem 5rem !default;

// ---------------------------------------
// Максимальная ширина текстового блока
$layout-text-width: 80rem !default;
// Отступы у текствого блока
$layout-text-space: 2rem 3rem !default;

// ---------------------------------------
// Максимальная ширина элементов выходящих за пределы текста
$layout-flood-width: 110rem !default;

// ---------------------------------------
// Внутренние отступы
$grid-space: 2.8rem 3rem !default;


// Header
// ==========================================================================


// Footer
// ==========================================================================


// Buttons
// ==========================================================================
$btn-height: 5rem !default;
$btn-bg-color: $base-color !default;
$btn-bg-hover-color: invert($base-color) !default;
$btn-text-color: white !default;
$btn-disabled-color: #ccc !default;

@mixin btn-disabled() {
  cursor: default !important;
  color: white !important;
  border-color: $btn-disabled-color !important;
  background-color: $btn-disabled-color !important;
  box-shadow: none !important;
  pointer-events: none;
}


// Forms
// ==========================================================================

// Colors of forms
$form-text-color: $text-color !default;
$form-placeholder-color: lighten($form-text-color, 65%) !default;
$form-bg-color: white !default;
$form-border-color: lighten($form-text-color, 70%) !default;
// validation
$form-error-color: $error-color !default;
$form-success-color: $success-color !default;
// disabled
$form-text-color--disabled: #ced4da !default;
$form-bg-color--disabled: #e9ecef !default;
$form-border-color--disabled: #ced4da !default;
// focus
$form-border-color--focus: darken($form-border-color, 20%) !default;

// Fonts of forms
$form-font-size: 16px !default;
$form-line-height: 24px !default;
$form-input-height: 50px !default;
$form-letter-spacing: null !default;

// @example Sass - Использование
// @example css - Вывод CSS
@mixin inputs-font {
  //+font-alt
  font-family: inherit;
  font-size: $form-font-size;
  line-height: $form-line-height;
  @if $form-letter-spacing {
    letter-spacing: $form-letter-spacing;
  }
  color: $form-text-color;
}

@mixin selects-font {
  @include inputs-font;
}

// Layout of forms
$form-border-width: 1px !default;
$form-input-space-vt: floor(($form-input-height - $form-line-height - $form-border-width*2)/2) !default;
// верхний паддинг округляем в нижнюю сторону
$form-input-space-vb: ceil(($form-input-height - $form-line-height - $form-border-width*2)/2) !default;
// нижний паддинг округляем в верхнюю сторону
$form-input-space-h: 18px !default;
$form-bottom-space: 3rem !default;
$form-bottom-space--mob: 3rem !default;

// Vertical spaces
@mixin forms-space {
  margin: 0 0 $form-bottom-space;

  @include media("<mob") {
    margin: 0 0 $form-bottom-space--mob;
  }
}

// Checkboxes
// Radio Buttons
$checkbox-color: #ff3aa3 !default;

// Select
$select-space-v: 12px !default;
$multiple-item-space: 3px !default;

// Select custom arrow
$select-arrow-width: 40px !default;
$select-arrow-height: $form-input-height !default;

// Style Selection
@mixin selectSelection() {
  height: $form-input-height;
  width: 100%;
  padding: $form-input-space-vt $select-arrow-width $form-input-space-vb $form-input-space-h;
  background: $form-bg-color;
  border: #{$form-border-width} solid #{$form-border-color};
  border-radius: 0;
  box-shadow: none;
  text-indent: 0;
  outline: none;
}


// States
@mixin form-success {
  color: $form-success-color;
  border-color: $form-success-color;
}

@mixin form-error {
  color: $form-error-color;
  border-color: $form-error-color;
}

@mixin filled {
  color: blueviolet;
  border-color: blueviolet;
}

@mixin focused {
  //color: $form-border-focus-color
  border-color: $form-border-color--focus;
}


// Form validate feedback
// ==========================================================================
$validate-feedback-font-size: 1.2rem;
$validate-feedback-line-height: 1.6rem;
$validate-feedback-height: 2.2rem;

// Animation
// ==========================================================================
$animation-speed: 0.2s !default;
$animation-speed-mouseleave: 0.35s !default;