@import "../utils/variables";
@import "../utils/mixins";
@import "../../libs/include-media/dist/include-media";

// Captcha
.captcha {
  position: relative;

  input {
    text-align: center;
    width: 18rem;
  }
}

.captcha-ctrl {
  margin-bottom: $bottom-space;

  .captcha-ctrl__img {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    max-width: 50%;
    @include font-size(1.2rem, 1.6rem);
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: $letter-spacing;
  }

  .captcha-ctrl__refresh {
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: $letter-spacing;

    a {
      color: $text-color;
      text-decoration: none;

      span {
        border-bottom: 1px dotted $text-color;
      }

      &:hover {
        color: $link-color;

        span {
          border-color: $link-color;
        }
      }
    }
  }
}