@import "../utils/variables";
@import "../utils/mixins";
@import "../../libs/include-media/dist/include-media";

// Селект, который будет кастомизироваться, необходимо скрыть,
// пока на нем не отработает скрипт.
.cselect {
  opacity: 0;

  // Если на странице отключены скрипты, то скрывать не нужно
  .no-js & {
    opacity: 1;
  }
}

.select2-container {
  // Нижний отступ
  // ----------------------------------------------------
  @include forms-space;

  &:last-child {
    margin-bottom: 0;
  }

  // Общие стили для SINGLE и MULTIPLE
  // ====================================================

  // .select2-selection - это "поле выбора" селекта
  // ----------------------------------------------------
  .select2-selection {
    // Визуальные стили поля выбора, кроме стилей текста
    // ----------------------------------------------------
    @include select-common;

    // .select2-selection__rendered лежит внутри .select2-selection
    // Служит для обрезания текста и добавления троеточия
    // Непосредственно в этом элементе лежит текст текущего опшина
    // ----------------------------------------------------
    .select2-selection__rendered {
      display: block;
      padding: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }


  // SINGLE
  // ====================================================
  .select2-selection--single {
    .select2-selection__rendered {
      padding: 0;
    }
  }


  // MULTIPLE
  // ====================================================
  .select2-selection--multiple {
    height: auto;
    min-height: $form-input-height;
    // Внутренние отступы поля выбора отличаются от single-селекта
    padding: #{$form-input-space-vt - 0.2} #{$select-space-h - 0.2} #{$form-input-space-vb - 0.2};

    .select2-selection__rendered {
      padding: 0;
    }
  }

  .select2-search--inline {
    float: left;

    // Это input лежащий внутри "поля выбора" мультиселекта.
    // При фокусе на "поле выбора", курсор попадает в это поле,
    // и слжит для полем ввода для автокомплита
    .select2-search__field {
      border: none;
      font-size: 100%;
      margin-top: 0;
      padding: 0;
    }
  }
}


// DROPDOWN
// ====================================================
// Общие стили для выпадающего списка селекта
.select2-dropdown {
  border: $form-border-width solid $form-border-color--focus;
  border-radius: $form-border-radius;
  background-color: $form-bg-color;
}

// Стили для пунктов выпадающего селекта
.select2-results__option {
  padding: 0.5rem $form-input-space-h;
}

// Специальные стили для выпадающего меню
// при открытии ВЫШЕ поля выбора
.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

// Специальные стили для выпадающего меню
// при открытии НИЖЕ поля выбора
.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


// SEARCH
// ====================================================
// Контейнер поля ввода автокомплита
.select2-search--dropdown {
  padding: 0.5rem;

  // Поле ввода
  .select2-search__field {
    padding: 0.5rem;
  }
}


// Theme CUSTOM
// ====================================================
.select2-container--default {
  $select2-container--default: &;

  // SINGLE
  // ====================================================
  .select2-selection--single {

    // Стили текста поля выбора
    .select2-selection__rendered {
      @include select-font;
    }

    // PLACEHOLDER (подсказки)
    // ----------------------------------------------------
    // Стили текста наследуются от родительского .select2-selection__rendered
    .select2-selection__placeholder {
      color: $form-placeholder-color;
    }

    // СТРЕЛКА
    // ----------------------------------------------------
    .select2-selection__arrow {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: $select-arrow-width;
      height: auto;
      background: none;
      z-index: 5;

      b {
        border: none;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        margin: 0;

        &::before, &::after {
          content: "";
          position: absolute;
          right: 22px;
          top: 50%;
          width: 8px;
          height: 2px;
          background-color: $text-color;
          margin-top: -1px;
          z-index: 1;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
          right: 17px;
        }
      }
    }
  }

  // Disabled
  // ----------------------------------------------------
  &.select2-container--disabled & {
    .select2-selection--single {
      @include forms-disabled;
    }
  }

  // Is open
  &.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow {
        b {
          &::before {
            transform: rotate(-45deg);
          }

          &::after {
            transform: rotate(45deg);
          }
        }
      }
    }
  }


  // MULTIPLE
  // ====================================================
  .select2-selection--multiple {
    cursor: text;

    .select2-selection__rendered {
      box-sizing: border-box;
      list-style: none;
      margin: 0;
      padding: 0 5px;
      width: 100%;

      li {
        list-style: none;
      }
    }

    .select2-selection__placeholder {
      color: #999;

      margin-top: 5px;

      float: left;
    }

    .select2-selection__clear {
      cursor: pointer;
      float: right;
      font-weight: bold;
      margin-top: 5px;
      margin-right: 10px;
    }

    .select2-selection__choice {
      background-color: #e4e4e4;

      border: 1px solid #aaa;
      border-radius: 4px;
      cursor: default;

      float: left;

      margin-right: 5px;
      margin-top: 5px;
      padding: 0 5px;
    }

    .select2-selection__choice__remove {
      color: #999;
      cursor: pointer;

      display: inline-block;
      font-weight: bold;

      margin-right: 2px;

      &:hover {
        color: #333;
      }
    }
  }

  &.select2-container--focus {
    .select2-selection--multiple {
      border: solid black 1px;
      outline: 0;
    }
  }

  &.select2-container--disabled {
    .select2-selection--multiple {
      background-color: #eee;
      cursor: default;
    }

    .select2-selection__choice__remove {
      display: none;
    }
  }
}