@import "../utils/variables";
@import "../utils/mixins";
@import "../../libs/include-media/dist/include-media";

// Label
// ====================================================

label {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 0.5em;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color-light;
  user-select: none;
  -webkit-tap-highlight-color: transparent !important;

  mark {
    background: none;
    color: $error-color;
  }
}

// Form fields
// ====================================================

// Общие стили для полей ввода
.form-def {
  $form-def: &; // Ссылка на текущий класс

  @include input-common;
  @include input-font;
  @include forms-space;
  transition: color $animation-speed, border $animation-speed;

  // ------ mob -----------------------------------------
  @include media($form-media--mob) {
    @include input-common--mob;
    @include input-font--mob;
    @include forms-space--mob;
  }

  // Textarea
  // ----------------------------------------------------
  // Дополнительные стили для <textarea>
  @at-root {
    textarea#{$form-def} {
      $lines: 3;
      $height: round($form-line-height * $lines) + $form-input-space-vt + $form-input-space-vb + round($form-border-width * 2);

      min-height: $height;
      height: $height;
      resize: vertical;

      // ------ mob -----------------------------------------
      @include media($form-media--mob) {
        $lines: 3;
        $height: round($form-line-height--mob * $lines) + $form-input-space-vt--mob + $form-input-space-vb--mob + round($form-border-width--mob * 2);

        min-height: $height;
        height: $height;
      }
    }
  }

  // Для последний элемент обнулить нижний отступ
  &:last-child {
    margin-bottom: 0;
  }

  // Focus
  &:focus {
    border-color: $form-border-color--focus;
  }

  // Hover
  &:hover {
    border-color: $form-border-color--focus;
  }

  // Focus (js classes)
  &.focused {
    @include focused;
  }

  // Has value (js classes)
  // Label
  @at-root label {
    &.filled {
      @include filled;
    }
  }

  &.filled {
    @include filled;
  }

  // Success
  @at-root label {
    &.success {
      @include form-success;
    }
  }

  &.success {
    @include form-success;

    // Placeholder
    @include placeholder {
      color: $form-success-color;
    }
  }

  // Error

  @at-root label {
    &.error {
      @include form-error;
    }
  }

  &.error {
    @include form-error;

    // Placeholder
    @include placeholder {
      color: $form-error-color;
    }
  }

  // Disabled
  &[disabled] {
    cursor: default !important;
    color: $form-text-color--disabled !important;
    background-color: $form-bg-color--disabled !important;
    border-color: $form-border-color--disabled !important;
    box-shadow: none !important;

    @include placeholder {
      color: $form-text-color--disabled !important;
    }
  }


  // Placeholder
  // ----------------------------------------------------
  @include placeholder {
    color: $form-placeholder-color;
    transition: $animation-speed opacity;
  }

  // Placeholder hide on focus
  @include placeholder-focus {
    opacity: 0;
  }
}