@import "../utils/variables";
@import "../utils/mixins";
@import "../../libs/include-media/dist/include-media";

/* helper classes */
.bottom-space {
  margin-bottom: $bottom-space;

  @include media('<mob') {
    margin-bottom: $bottom-space--mob;
  }
}

.section-bottom-space {
  margin-bottom: $bottom-section;

  @include media('<mob') {
    margin-bottom: $bottom-section--mob;
  }
}

.mark {
  color: $mark-color;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.push-auto {
  margin-left: auto;
  margin-right: auto;
}

.nobr {
  white-space: nowrap;
}

.hide {
  display: none !important;
}

.hide-text {
  @include hide-text;
}

.desktop-only {
  @include media("<tab") {
    display: none;
  }
}

.devices-only {
  @include media(">=tab") {
    display: none;
  }
}

.mobile-only {
  @include media(">=mob") {
    display: none;
  }
}

/* ==================================== */
/* ======= NON CONTENT ELEMENTS ======= */
/* ==================================== */
/* breadcrumbs */
.breadcrumbs {
  color: $text-color-light;
  margin-bottom: $bottom-space;

  &:last-child {
    margin-bottom: 0;
  }
}

.breadcrumbs__list {
  padding: 0;
  margin: 0;
  list-style: none;
  cursor: default;
}

.breadcrumbs__item {
  display: inline;
  padding-right: 0.6rem;
  margin: 0;

  &::after {
    display: inline;
    content: "•";
    padding-left: 0.7em;
  }

  &:last-child {
    &::after {
      content: none;
    }
  }
}

/* breadcrumbs end */

/* ==================================== */
/* ============== HEADER ============== */
/* ==================================== */
.header {
  background-color: rgba(lightgreen, 0.8);
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
}

/* logo */
.logo {
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  width: 85px;
  height: 85px;
  margin: 0 2rem 0 0;
  background: url(../../img/logo.svg) no-repeat;
  background-size: contain;
  text-indent: -9999px;
  z-index: 5;

  a, & > span {
    display: block;
    height: 100%;
  }
}

/* logo end */

/* ==================================== */
/* ============ NAVIGATION ============ */
/* ==================================== */
.nav {
  position: relative;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @include clear;

  li {
    position: relative;

    .nav__angle {
      display: none;
    }

    &.has-drop {
      padding-right: 2rem;

      & > .nav__tab > .nav__angle {
        display: block;
      }

      .nav__angle {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        line-height: 0;
        pointer-events: none;
      }
    }
  }

  a {
    display: block;
  }

  & > li {
    float: left;
    margin-right: 2rem;
  }
}

.nav__drop {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  border: 1px solid $border-color;
  padding: 2rem;
  width: $layout-page-min-width;
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  li:hover > & {
    opacity: 1;
    visibility: visible;
  }

  li {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.5;
  }

  .nav__drop {
    top: 0;
    left: 100%;
  }
}

/* ==================================== */
/* ============= FOOTER =============== */
/* ==================================== */
.footer {
  position: relative;

  //z-index: 5

  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgba(lightgreen, 0.8);
}

/* footer bottom */
.footer-bottom {
  position: relative;

  // обрезать вытянутый маржинами по горизонтале дочерний элемент
  overflow: hidden;
}

.footer-bottom__holder {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @include margin-horizontal(-#{round(nth($grid-space, 2) / 2)});

  margin-bottom: -#{round(nth($grid-space, 1) / 2)};
}

.footer-bottom__col {
  text-align: center;

  @include padding-horizontal(round(nth($grid-space, 2) / 2));

  margin-bottom: #{round(nth($grid-space, 1) / 2)};

  // для браузеров не поддерживающих display: flex
  display: inline-block;
  vertical-align: top;
  width: calc(33.33% - 5px);

  @include media("<mob") {
    min-width: 100%;
  }


  &:first-child {
    @include media(">=mob") {
      text-align: left;
    }
  }

  &:last-child {
    @include media(">=mob") {
      text-align: right;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    .no-touchevents &:hover {
      text-decoration: underline;
    }
  }
}

/* footer bottom end */

/* developer */
.developer {
  display: inline-block;

  a {
    text-decoration: none;

    .no-touchevents &:hover {
      text-decoration: none;
    }
  }
}

.developer__label {
  @include media("<mob") {
    display: block;
  }


  i {
    @include media("<mob") {
      display: none;
    }
  }
}

.developer__logo {
  @include display-inline-block-top;

  position: relative;
  top: 5px;
  padding-right: 3px;

  @include size(154px, 20px);

  text-align: left;
  text-indent: -9999px;

  &::before, &::after {
    @include pseudo;
    @include position(0, 0);
    @include size(149px, 16px);
  }

  &::before {
    @include pseudo;
    @include position(4px, 4px);

    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTMyIDc5LjE1OTI4NCwgMjAxNi8wNC8xOS0xMzoxMzo0MCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUuNSAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OTA2ODc1N0UwOEJDMTFFNzlCNzhBOUI2REQxMjc4QzgiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OTA2ODc1N0YwOEJDMTFFNzlCNzhBOUI2REQxMjc4QzgiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo5MDY4NzU3QzA4QkMxMUU3OUI3OEE5QjZERDEyNzhDOCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo5MDY4NzU3RDA4QkMxMUU3OUI3OEE5QjZERDEyNzhDOCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PnDruBQAAAAkSURBVHjaYmRgYPjPACL+/2cE0YwYAkAGA5jByPgfqwBAgAEAP4gP/bFMMZQAAAAASUVORK5CYII=");
    background-size: 2px;
  }

  //.no-touchevents a:hover
  // transform: translate(0, 1px)
  // filter: blur(2px)
  // opacity: 0.6

  &::after {
    @include pseudo;

    background: #00ef85 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAAAgBAMAAABa5liJAAAAMFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABaPxwLAAAAD3RSTlMAd7tEIt0R7pkzzIhmqlV9QenDAAAD2klEQVRYw+2WPYsTURSGj5oEs0lMBkUUlMSUWkxwxNKsnV2ihWCVbGXpFwhWs6Io2GT0D2xQsM2KqGUEEUvFwjbxF7irO2ZMsh7PuRvP3Xuv2mhhkRd258zuvc/7bOaDhXnmmedvUi79S1rK2wcqp99XnyzSwVOhib4fBJWl98ciOuS9GsCuQzR5HNLY4akdW1ovDc6OvUCLPS7wPJ5lEKBU6FJJDiezI4Wa6qhCAny4AKwTIiZtgJ3YpLrPAICcNYAi7+ggAHyET7Udw22c4jrQYiQ1pJwFGTRQKnSpJI0xcAbxE+8e4R5Uq+HVajUCwCOHWyM6Qnn05BlWWGs60/K81lmPu7ELELJW+KF+wj8vHEPr5oEeLsuggVKhSyUrE+SzPbx+Fr8CHCwR9h1AFh9DpjdlrVhp6TXFeAPyMWudGfXvJovCMbRqkOp9kUGAUqGBOv3zuEqH3QRwtaB3GaAworqLMWklOLS0kgkUJgjshWQlHEsLGpsyaKCucLVaq4MmUOWvtfw1IiXqlolg57pfMbXq32NoXBMt4ThaC2MZNFAqXK0s1srf1KrSLz8tUn77HZhZIq1PXyyttTAqP+e646P+iyQSjq21M5ZBA6XC1cqNoDHhpzfcXHS18ryv/JVOMkor/dnW6iy3IqrL0C1/ctAUjq1FG2UQoFS4WukEFmIe3uDm0NK6daozbgMM1tTZO9LKY2RqNVdujIHrXsHb2p6hcGyt+lQGDZQKV2vlO+2NaEh1MH5palHu8OkWpUJamXDZ1Kqkx+ukJW954ZhaS2FXBg2UClerfxlSuKp4L9AUx3O9RJ3qTwvKG4ZWubIDN7ZpCcfQengU40gGDZQKV6v1jr6aoPIau+a9lVfCnS1KibUuJpZWiuj6aRGO9ZYf7QcZNFAqHK0sPg2CwTdQyfhTUwvKX7j7mzyJ9IQsmVrgv7S1mGNo7Q0iABk0UCocrRxyJrOzxrqldZEdPk1VQcRaKfQsLQBDSzhFhhZm7wWODAKUCkcrjZyxvAItrRyTLvHGdAysBZ2zrpavtTRngdctbLpaApQKV2uFxXO4CCpv7YuYQhoLOCSB6ZZWI96uNXC0hLObofWpqyVAqXC1+vxmy9JvC68A7ofXLS3obABtvNJewi5rcRtrBUHvUVD7udJfFp5wSOIR7ArPu1oClApHix9EStiFIlJGka3VSPiP5+vcZi1mb/9/y1+1iZrTx888uFoClAobkuWfK+GdIWK8H2ytAl+KrK8ebKUFvqFVsomas6eHeBt+pSVAqRCImyBow2+SCSL4c1wO76r9CTjPPPP8x/kBIrOdsjg4YcgAAAAASUVORK5CYII=") no-repeat center center;
    background-size: auto 16px;

    .no-touchevents a:hover & {
      transform: translate(0, -1px);
    }
  }
}

/* developer end */

/* ==================================== */
/* ============== MAIN ================ */
/* ==================================== */
.main {
  position: relative;
}

.content {
  background-color: rgba(whitesmoke, 0.8);
}